Makefile.conf
*.npp
*.pyc
*.ali
*.o
*.so
*.a
*.stdout
*.stderr
*.cgpr
*.cswi
*.lexch
*.bexch
b__*
_
gnatinspect.db
messages.txt
*-loc.xml
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/obj/
/lib/
/alire/
/config/
/alr-etpy.tmp/
trace
